.venv/
__pycache__/
*.pyc

.env

data/bronze/
data/silver/
data/gold/
data/bootstrap/

logs/
.ipynb_checkpoints/

target/
dbt_packages/
profiles.yml

etf_intelligence_pipeline/target/
etf_intelligence_pipeline/dbt_packages/
.vscode/

etf_intelligence_pipeline/models/bronze/etf_prices_raw_backup.sql
src/ingestion/fetch_incremental_prices_backup.py

.streamlit/